
// Core variables and mixins

@import "variables.less";
@import "mixins.less";




*{
	outline:none !important;
}

body
{
	margin:0;
	padding:0;
	outline:none;
	font-family:Open Sans;
}
a
{
	color:#333;
	text-decoration:none
}
a:hover,a:focus
{
	text-decoration:none;
}
ul{
	
	list-style-type:none;
	margin:0;
	padding:0;
}
.top-line{
  padding: 10px 0;
  label{
	margin-right:8px;
  }
  .form-inline{
	float: right;
	.form-group {
	  font-size: 12px;
	  font-weight: normal;
	  text-transform: uppercase;
	  color: #6e6e6e;
	  font-family: "Caviar Dreams";
	  font-weight: 300;
	  input{
		background: #efefef none repeat scroll 0 0;
		border: medium none;
		border-radius: 0;
		height: 25px;

	  }

	}
	button{
	   background: transparent none repeat scroll 0 0;
	   border: medium none;
	 }
  }
}
.top-line a{
  padding: 10px;

}
.btn-toggle{

  cursor: pointer;
  display: none;
  float: right;
  position: absolute;
  right: 6px;
  top: -38px;
  display: none;
}
.nav-aria{
  background: #efefef;
  text-align: center;
  padding: 25px 0;

  .navibar {
	display: inline-block;
	text-align: center;
  }
  ul{
	width: 100%;
	margin-top: 30px;

  }
  li{
	display: inline-block;
	margin: 0 25px;
	padding: 0 22px;
  }
  a{
	color: #3a3a3a;
	font-size: 17px;
	font-family: "Caviar Dreams";
	font-weight: 300;
	transition:0.5s ease-in;
	display: inline-block;
	border-bottom: #efefef 1px solid;
	&:hover{
	  border-bottom: #3a3a3a 1px solid;
	}
  }

}
.header{
  display: inline-block;
  text-align: center;
  width: 100%;
	img{
	  width: 100%;
	}
}
.about{
  background: #efefef;
  padding: 25px 0;
  h1{
	background: rgba(0, 0, 0, 0) url("../images/bottom-border.png") no-repeat scroll center bottom;
	color: #000;
	font-family: "Caviar Dreams";
	font-size: 40px;
	font-weight: 300;
	padding-bottom: 24px;
	text-align: center;
  }
  p{
	color: #000;
	font-family: "Caviar Dreams";
	font-size: 18px;
	font-weight: 300;
	line-height: 1.7;
	padding: 20px 35px;
	text-align: center;
  }
  img {
	padding: 14px 0;
	width: 100%;
	-moz-transition:-moz-transform 0.5s ease-in;
	-webkit-transition:-webkit-transform 0.5s ease-in;
	-o-transition:-o-transform 0.5s ease-in;
	&:hover{
	  -moz-transform:scale(1.05);
	  -webkit-transform:scale(1.05);
	  -o-transform:scale(1.05);
	  opacity: 1;
	  filter: grayscale(100%);
	  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
	  filter: gray;  /* For IE 6 - 9 */
	}
  }

}
.vedio-sec{
  background: url("../images/vedio-bg.jpg") no-repeat;
  background-size: cover;
  width:100%;
  text-align: center;
  display: inline-block;
 img{
   width: 100%;
   margin: 17px 0;
 }
}
.service {
  background: url("../images/ser-pattren.png") no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 50px 0;
  float: left;
}
.service-box{
  padding: 10px 0;
  .service-icon{
	display: table;
	margin: 0 auto;
	position: relative;
	&:before{
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  content: "";
	  height: 100%;
	  position: absolute;
	  width: 100%;
	  transition: all 0.3s ease 0s;
	}
	&:hover:before{
	  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
	}
	img{
	  width: 100%;
	}
	i {
	  color: #ffffff;
	  display: inline-block;
	  font-size: 24px;
	  height: 42px;
	  left: 50%;
	  margin-left: -21px;
	  margin-top: -22px;
	  padding: 8px 0;
	  position: absolute;
	  top: 100%;
	  width: 42px;
	  z-index: 0;
	  &:after{
		background: #3a3a3a none repeat scroll 0 0;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform: rotate(45deg);
		width: 100%;
		z-index: -1;
	  }
	}
  }

  h1{
	font-family: "Caviar Dreams";
	font-size: 36px;
	font-weight: 300;
	color:#3a3a3a;
	margin: 35px 0 10px;
  }
  p{
	font-family: "Caviar Dreams";
	font-size: 18px;
	font-weight: 300;
	color:#3a3a3a;
	margin: 0 35px;
  }
}















.recycal{
  display: inline-block;
  padding: 50px 0;
  width: 100%;
  img{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: none;
	width: 100%;
	-webkit-transition: all .6s ease;  /* Transition for Webkit browsers */

	&:hover{
	  filter: grayscale(100%);
	  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
	  filter: gray;  /* For IE 6 - 9 */


	}
  }
  h1{
	font-family: "Caviar Dreams";
	font-size: 40px;
	font-weight: 300;
	color:#3a3a3a;
  }
  p{
	color: #3a3a3a;
	font-family: "Caviar Dreams";
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	margin-top: 30px;
  }
  span{
	font-style: italic;
	font-weight: bold;
	float: right;
  }

}
.cycle{
  background: rgba(0, 0, 0, 0) url("../images/recycal-bg.jpg") no-repeat scroll 0 0 / cover ;
  padding: 90px 20px;
  text-align: center;
  width: 100%;
  position: relative;
  &:before{
	border: 1px solid #dfdfdf;
	bottom: 20px;
	content: "";
	left: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
  }
  h1{
	color: #f7f7f7;
	font-family: "Caviar Dreams";
	font-size: 40px;
	font-weight: 300;


  }
}
  .cycle-icon{
	margin: 82px 0;
	padding: 10px;

	img
	{
	  max-width: 100%;
	  -webkit-transition: -webkit-transform 0.3s;
	  transition: transform 0.8s;
	  &:hover{
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	  }
	}
  p{
	color: #f7f7f7;
	font-family: "Caviar Dreams";
	font-size: 20px;
	font-weight: 300;
	padding-top: 24px;
  }
}
.second{
  background: transparent none repeat scroll 0 0 !important;
}
.slider{
  background: #efefef none repeat scroll 0 0;
  padding: 30px 0 20px;
  h3{
	color: #3b3b3b;
	font-family: "Caviar Dreams";
	font-size: 47px;
	margin: 0 0 50px;
	text-align: center;
  }
  .bx-wrapper{
	overflow: hidden;
	&:after{
	  background: transparent none repeat scroll 0 0;
	  box-shadow: 0 0 91px 115px #efefef inset;
	  content: "";
	  height: 240%;
	  position: absolute;
	  top: -80%;
	  width: 100%;
	}
	.bx-viewport{
	  background: transparent;
	  border: 0 none;
	  box-shadow: 0 0 0;
	  left: 0;
	  padding: 0;

	}
	.bx-controls-direction a
	{
	  background: red none repeat scroll 0 0;
	  &.bx-prev{
		background:url("../images/prev.png") no-repeat;
	  }
	  &.bx-next{
		background:url("../images/next.png") no-repeat;
	  }
	}
  }

}

.footer{
  background: #e8e8e8;
  padding: 40px 0;
  text-align: center;

  h4{
	text-align: left;
	font-size: 16px;
	font-family: "Caviar Dreams";
	font-weight: 600;
  }
  h6{
	text-align: left;
	font-size: 14px;
	font-family: "Caviar Dreams";
	font-weight: 300;
  }
  h5{
	font-family: "Caviar Dreams";
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	padding: 5px 0px;
  }
  img{
	margin: 10px;
  }
  .footer-data{
	float: right;
  }
}
.last{
  padding: 20px;
  p{
	font-size: 12px;
	text-align: center;
	color: #3b3b3b;
  }
  span{
	color: #ccc;
  }
  a{
	font-weight: bold;
	color: #ccc ;
  }
}
//about

.about-us{
  background: #efefef;
  padding: 40px 0;
  text-align: center;
  h1{
	color: #3b3b3b;
	font-family: "Caviar Dreams";
	font-size: 40px;
	font-weight: 300;
  }
  p{
	color: #3b3b3b;
	font-family: "Caviar Dreams";
	font-size: 18px;
	font-weight: 300;
	line-height: 1.7;
	margin-bottom: 40px;
	padding-top: 24px;
  }
  img{
	float: left;
  }
}
.job-form{
  padding: 40px 0;
  text-align: center;
  width: 100%;
  h6{
	color: #e71c2f;
	font-family: "Caviar Dreams";
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 50px;
	border-top: #000 1px solid;
  }
}
.cont-form{
  background:url("../images/form.jpg") no-repeat scroll 0 0 / cover ;
  padding: 40px 0;
  text-align: center;
  width: 100%;
  h3{
	color: #fff;
	font-family: "Caviar Dreams";
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
  }
}
.form-box{
  padding: 0 60px;
}
.form-group{
	input,select {
	  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	  color: #000;
	  height: 45px;
	  margin: 3px 0;
	}
  select{
	backround
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
  }
  textarea{
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	height: 120px;
	color: #000;
  }
}
.form-box input[type="submit"]{
  background: #e71c2f none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-family: "Caviar Dreams";
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
  padding: 5px 65px;
  transition:0.5s ease-in;
}
//donate
.dnt-heading{
  background:url("../images/head-bg.jpg") no-repeat scroll 0 0 / cover ;
  padding: 40px 0;
  h2{
	font-size: 30px;
	font-weight: lighter;
	margin: 25px 0;
	text-align: center;
  }
  p{
	font-size: 18px;
	line-height: 1.8;
	margin: 0 0 10px;
	text-align: center;
  }
  h3{
	color: #000;
	font-size: 24px;
	margin: 30px 0;

  }
  h4{
	background: #d62e2e none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 22px;
	margin: 20px 5px;
	padding: 21px;
	text-align: center;
	width: 49%;
  }
  .dnt-data{
	padding: 30px 0;
	}
	.dnt-point{
	  padding: 20px 0 0;
	  text-align: center;
	  h1{
		color: 333;
		font-size: 27px;
		font-weight: bold;
		padding: 0 20px;
		text-align: center;
		text-transform: uppercase;
	  }
	  p{
		color: #333;
		font-size: 16px;
		line-height: 1.9;
		margin-top: 25px;
		padding: 0 20px;
	  }
	  img{
		margin-top: 10px;
		max-width: 100%;
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.8s;
		&:hover{
		  -webkit-transform: rotateY(-180deg);
		  transform: rotateY(-180deg);
		}
	  }
	}
  }
  	.funds{
	  display: inline-block;
	  padding: 30px 0 0;
	  text-align: center;
	  span{
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		color: #ee4252;
		font-family: Georgia;
		font-size: 66px;
		margin: 0 0 40px;
	  }
	  h5{
		color: #ee4252;
		font-size: 25px;
		text-transform: uppercase;
	  }
	  h3{
		color: #3a3a3a;
		font-size: 18px;
	  }
	}

//gallery

.gallery{
  background:url("../images/gallery-btm.jpg") no-repeat scroll 0 0 / cover ;
  padding: 60px 0;
  width: 100%;
  background-size:cover ;
  h1{
	color: #f7f7f7;
	font-size: 40px;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-family: "Caviar Dreams";
	font-weight: 300;
  }
  .gallery-nav{
	padding: 10px 0;
	text-align: center;
	ul{
	  text-align: center;
	}
	li{
	  display: inline-block;
	  float: left;
	  padding: 0 16px 25px;
	}
	a{
	  color: #fff;
	  padding: 5px 19px;
	  border: #000 1px solid ;
	  transition: all 0.5s ease 0s;
	  &:hover{
		border: #fff 1px solid ;
	  }
	}
  }


  img{
	padding: 15px 0;
	width: 100%;
	-webkit-filter: blur(0px); /* Chrome, Safari, Opera */
	filter: blur(0px);
	transition:0.3s ease-in;
	&:hover{
	  -webkit-filter: blur(1px); /* Chrome, Safari, Opera */
	  filter: blur(1px);
	}

  }

}
/*jobs*/
.jobs{
  background: rgba(0, 0, 0, 0) url("../images/head-bg.jpg") no-repeat scroll 0 0 / cover ;
  padding: 40px 0;
}
.address{
  padding: 30px 0;
  text-align: center;
  h1{
	color: #e71c2f;
	font-size: 30px;
	margin-bottom: 40px;
	border-bottom: #e71c2f 2px solid;
	padding: 10px 0;
  }
  img{
	width: 100%;
  }
  h5{
	color: #464646;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.7;
	margin-top: 20px;
  }
}
.brows{
  color: #B0B0B0;
  font-weight: normal;
  height: 44px;
  line-height: 30px;
  margin-top: 3px;
}
input[type="file"] {
  display: none;
}



























//responsive

@media only screen and (min-width: 0px) and (max-width: 1199px) {
	.btn-toggle {
	  display: block;
	}
	.navibar {
	  display: none;
	  height: initial;
	  margin: 0;
	  position: absolute;
	  right: 0;
	  top: 1px;
	  width: 222px;
	  z-index: 999;
	  ul{
		margin-top: 25px;
	  }
	  li {
		width: 100%;
		background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
		display: inline-block;
		margin: 0 65px;
		padding: 0 19px;
		text-align: left;
	  }
	  a {
		padding: 12px 10px;
		color: #FFFFFF;
	  }
	}
	.navibar li{
	  margin:0 ;
	  padding:0;
	}
  }


//768
@media only screen and (min-width: 0px) and (max-width: 768px) {

.recycal{
  h1{
	font-size: 26px;}
  p{
	font-size: 13px;
	line-height: 20px;
	margin-top: 0px;
  }
}
.cycle h1{
  font-size: 30px;
}
.cycle-icon{
  margin: 40px 0;
  padding: 0;
}
.service-box{
  h1{
	font-size: 30px;
  }
  p{
	font-size: 14px;
	margin: 0;
  }
}
.about {
  h1 {
	background: none;
	font-size: 30px;
	padding-bottom: 10px;
  }
  p {
	font-size: 14px;
	padding: 0 19px;
  }
}
.top-line .form-inline
{
  float: right;
  margin: 20px 0;
  width: 100%;
}
.top-line .form-inline button{
  float: right;
  margin-top: -39px;
						}
  .nav-aria{
	padding: 20px 0;
	text-align: left;
	img[src*="logo"]{
	  width: 150px;
	}
  }
  .navibar ul {
	margin-top: 20px;
  }
  .form-box {
	padding: 0;
  }
  .form-box input[type="submit"] {
	font-size: 18px;
  }
}

@media (min-width: 768px) {
  .navibar ul {
	margin-top: 20px;
  }
  .about-us p {
		font-size: 15px;
  }
  .recycal p {
	font-size: 16px;
  }
  .recycal h1 {
	display: inline-block;
	font-size: 26px;
	margin-top: 30px;
  }
  .form-box {
	padding: 0;
  }
  .funds span{
	font-size: 50px;
  }

}
//992
@media (min-width: 992px) {
  .service-box {
	h1{font-size: 30px;}
	p {
	  font-size: 14px;
	}
  }
  .recycal{
	h1{
	  font-size: 26px;}
	p{
	  font-size: 15px;
	  line-height: 20px;
	  margin-top: 0px;
	}
  }
  .navibar ul {
	margin-top: 25px;
  }
  .funds span{
	font-size: 65px;
  }
}

//1200
@media (min-width: 1200px) {
  .service-box {
  h1{
	font-size: 36px;
  }
  p {
	font-size: 18px;
  }
}
  .recycal{
	h1 {
	  font-size: 30px;}
	p{
	  font-size: 15px;
	  line-height: 24px;
	  margin-top: 14px;
	}
  }
  .cycle-icon p{
	font-size: 13px;
	font-weight: 600;
  }

}

//1280
@media (min-width: 1280px) {
  .recycal {
	h1{
	  font-size: 40px;
	  display: inline-block;

	}
	p{
	  font-size: 18px;
	  line-height: 30px;
	  margin-top: 30px;
	}
  }
  .cycle-icon{
	p{
	  font-size: 17px;
	  font-weight: 600;
	}
  }
}



